/* stylelint-disable selector-list-comma-newline-after */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0 0 0.2em;
  line-height: 1.2;
  font-weight: 700;
}
/* stylelint-enable */

h1,
.h1 {
  @include poly-fluid-sizing("font-size", (576px: 36px, 769px: 70px, 1200px: 90px, 1800px: 150px));
}

h2,
.h2 {
  @include poly-fluid-sizing("font-size", (576px: 33px, 769px: 40px, 1200px: 60px, 1800px: 90px));
}

h3,
.h3 {
  @include poly-fluid-sizing("font-size", (576px: 28px, 769px: 36px, 1200px: 40px, 1800px: 60px));
}

h4,
.h4 {
  @include poly-fluid-sizing("font-size", (576px: 22px, 769px: 24px, 1200px: 28px, 1800px: 36px));
}

h5,
.h5 {
  @include poly-fluid-sizing("font-size", (576px: 18px, 769px: 22px, 1200px: 24px, 1800px: 28px));
}
